<div>
    <div style="display: flex; margin: 10px; justify-content: space-between;">
        <div style="display: flex;">
            <button class="Btn larger-btn" (click)="toCreateForm()">
                <div class="sign">
                    <img class="clear copy" width="18" src="../../../../assets/icons/add-square-svgrepo-com.svg">
                </div>
                
                <div class="text">Add Key</div>
            </button>
            <button class="Btn" style="margin: 0 10px;">
                <div class="sign">
                    <img class="clear copy" width="18" src="../../../../assets/icons/history-svgrepo-com.svg">
                </div>
                
                <div class="text">History</div>
            </button>
            <button class="Btn generate">
                <div class="sign">
                    <img class="clear copy" style="width: 33px !important;" width="18" src="../../../../assets/icons/random-2dice-svgrepo-com.svg">
                </div>
                
                <div class="text">Generate Password</div>
            </button>
        </div>
        
        <p id="generated-password" style="visibility: hidden;">
        
        <button class="Btn">
            <div class="sign">
                <img class="clear copy" width="18" src="../../../../assets/icons/logout-svgrepo-com.svg">
            </div>
            
            <div class="text">Logout</div>
        </button>
    </div>

    <div class="list">
        <div class="search">
            <input type="text" name="search" class="input" placeholder="Search key..." [(ngModel)]="searchValue" (input)="getTournamentList()">
        
            <select class="select" [(ngModel)]="categoryValue" (ngModelChange)="getTournamentList()">
                <option *ngFor="let category of categoryList" [value]="category">{{ category }}</option>
            </select>
        
            <img class="clear" src="../../../../assets/icons/close-md-svgrepo-com.svg" (click)="clearSearch()">
        </div>
        
        <div class="data-card">
            <div class="data" *ngFor="let tournament of tournamentList" style="display: flex; justify-content: space-between;" (click)="toDetail(tournament.id)">
                <div style="display: flex; margin: 5px">
                    <!-- <img class="img-icon" [src]="data.icon" alt=""> -->
        
                    <div class="data-detail">
                        <p><b>{{ tournament.name }}</b></p>
                        <p>{{ tournament.status }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>